// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/* Copyright (c) 2023 Spacemit, Inc */

/dts-v1/;

#include "k1-x.dtsi"
#include "k1-x_pinctrl.dtsi"
#include "k1-x_spm8821.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "ZT001H";

	aliases {
		efuse_power = &ldo_31;
	};

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x00000000 0x00000000 0x80000000>;
	};

	chosen {
		bootargs = "earlycon=sbi console=ttyS0,115200 debug loglevel=8,initcall_debug=1 rdinit=/init.tmp";
		stdout-path = "serial0:115200n8";
	};

	gpio_keys: gpio_keys {
		compatible = "gpio-keys";
		fastboot-key-combo = "volume-up";
		fastboot-key-press-time = <2000>; /* in milliseconds */

		volume-up-button {
			label = "volume-up";
			linux,code = <KEY_VOLUMEUP>;
			gpios = <&gpio 70 1>;
			debounce-interval = <10>;
		};

		volume-down-button {
			label = "volume-down";
			linux,code = <KEY_VOLUMEDOWN>;
			gpios = <&gpio 71 1>;
			debounce-interval = <10>;
		};
	};
};

&cpus {
	timebase-frequency = <24000000>;
};

&uart0 {
	status = "okay";
};

&i2c0 {
	status = "disabled";
};

&i2c1 {
	status = "disabled";
};

&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2_0>;
	status = "okay";

	eeprom@50{
		compatible = "atmel,24c02";
		reg = <0x50>;
		vin-supply-names = "eeprom_1v8";
		status = "okay";
	};
};

&i2c3 {
	status = "disabled";
};

&i2c4 {
	clock-frequency = <400000>;
	status = "disabled";
};

&i2c5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c5_0>;
	status = "disabled";
};

&i2c6 {
	status = "disabled";
};

&i2c7 {
	status = "disabled";
};

&pinctrl {
	pinctrl-single,gpio-range = <
		&range GPIO_49  2 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_3V_DS4)
		&range GPIO_58  1 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_63  1 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_64  1 (MUX_MODE1 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_65  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_66  2 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range PRI_TDI  2 (MUX_MODE1 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range PRI_TCK  1 (MUX_MODE1 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range PRI_TDO  1 (MUX_MODE1 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_74  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_79  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_80  1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_3V_DS4)
		&range GPIO_81  3 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_90  1 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_91  2 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range DVL0     2 (MUX_MODE1 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_110 1 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_114 1 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_115 2 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_123 1 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
		&range GPIO_124 1 (MUX_MODE0 | EDGE_NONE | PULL_UP   | PAD_1V8_DS2)
		&range GPIO_125 3 (MUX_MODE0 | EDGE_NONE | PULL_DOWN | PAD_1V8_DS2)
	>;
};

&gpio{
	gpio-ranges = <
		&pinctrl 49 GPIO_49 2
		&pinctrl 58 GPIO_58 1
		&pinctrl 63 GPIO_63 1
		&pinctrl 65 GPIO_65 3
		&pinctrl 70 PRI_TDI 4
		&pinctrl 74 GPIO_74 1
		&pinctrl 79 GPIO_79 1
		&pinctrl 80 GPIO_80 4
		&pinctrl 90 GPIO_90 3
		&pinctrl 96 DVL0 2
		&pinctrl 110 GPIO_110 1
		&pinctrl 114 GPIO_114 3
		&pinctrl 123 GPIO_123 5
	>;
};

/* eMMC */
&sdhci2 {
	bus-width = <8>;
	non-removable;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	sdh-phy-module = <1>;
	clk-src-freq = <375000000>;
	status = "okay";
};

&qspi {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_qspi>;

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <26500000>;
		m25p,fast-read;
		broken-flash-reset;
		status = "okay";
	};
};

&efuse {
	status = "okay";
};

&ldo_27 {
	regulator-init-microvolt = <1200000>;
	regulator-boot-on;
	regulator-state-mem {
			regulator-off-in-suspend;
	};
};

&ldo_33 {
	regulator-init-microvolt = <1800000>;
	regulator-boot-on;
	regulator-state-mem {
			regulator-off-in-suspend;
	};
};

&dpu {
	status = "okay";
};

&pwm14 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm14_1>;
	status = "okay";
};

&backlight {
	pwms = <&pwm14 0 2000>;
	default-brightness-level = <6>;
	status = "okay";
};

&mipi_dsi {
	status = "okay";
};

&panel {
	force-attached = "ft8201sinx101";
	dcp-gpios = <&gpio 34 0>;
	dcn-gpios = <&gpio 42 0>;
	avee-gpios = <&gpio 35 0>;
	avdd-gpios = <&gpio 36 0>;
	backlight = <&backlight>;
	enable-gpios = <&gpio 31 0>;
	reset-gpios = <&gpio 30 0>;
	status = "okay";
};
