if TARGET_RZV2H_DEV

config SYS_SOC
	default "rmobile"

config SYS_BOARD
	default "rzv2h-dev"

config SYS_VENDOR
	default "renesas"

config SYS_CONFIG_NAME
	default "rzv2h-dev"

endif

if TARGET_RZV2H_EVK_ALPHA

config SYS_SOC
	default "rmobile"

config SYS_BOARD
	default "rzv2h-dev"

config SYS_VENDOR
	default "renesas"

config SYS_CONFIG_NAME
	default "rzv2h-dev"

endif

if TARGET_SMARC_RZV2H

config SYS_SOC
	default "rmobile"

config SYS_BOARD
	default "rzv2h-dev"

config SYS_VENDOR
	default "renesas"

config SYS_CONFIG_NAME
	default "smarc-rzv2h"

endif

