# SPDX-License-Identifier: GPL-2.0

menuconfig VIDEO_SPACEMIT
	bool "Enable SPACEMIT Video Support"
	depends on DM_VIDEO
	help
	  SPACEMIT SoCs provide video output capabilities for High-Definition
	  Multimedia Interface (HDMI) and Display Serial Interface (DSI).

	  This driver supports the on-chip video output device.

config VIDEO_SPACEMIT_MAX_XRES
        int "Maximum horizontal resolution (for memory allocation purposes)"
	depends on VIDEO_SPACEMIT
	default 1920
	help
	  The maximum horizontal resolution to support for the framebuffer.
	  This configuration is used for reserving/allocating memory for the
	  framebuffer during device-model binding/probing.

config VIDEO_SPACEMIT_MAX_YRES
        int "Maximum vertical resolution (for memory allocation purposes)"
	depends on VIDEO_SPACEMIT
	default 1200
	help
	  The maximum vertical resolution to support for the framebuffer.
	  This configuration is used for reserving/allocating memory for the
	  framebuffer during device-model binding/probing.

if VIDEO_SPACEMIT

config DISPLAY_SPACEMIT_HDMI
	bool "HDMI port"
	select VIDEO_DW_HDMI
	depends on VIDEO_SPACEMIT
	help
	  This enables High-Definition Multimedia Interface display support.

config DISPLAY_SPACEMIT_MIPI
	bool "MIPI Port"
	depends on VIDEO_SPACEMIT
	help
	  This enables Mobile Industry Processor Interface(MIPI) display
	  support.

endif
