menu "Synaptics specific command line interface"

config CMD_USBLOAD
	bool "usb load"
	depends on USB_BOOT
	default y
	help
	  use the command to download images through usb cable

config CMD_SYNA_FASTBOOT_GUI
	bool "Enable GUI for Fastboot"
	depends on USB_FUNCTION_FASTBOOT || UDP_FUNCTION_FASTBOOT

config CMD_SYNA_FTS
	bool "Enable Android Flash-based transactional key-value store command"
	depends on MISC
	help
	  Enable Flash-based transactional key-value based on MMC.

config CMD_SYNA_PRELOAD_TA
	bool "Enable register ta command"
	depends on SYNA_OEMBOOT

config CMD_SYNA_FDT_UPDATE
	bool "Enable FDT update before booting Kernel"
	depends on SYNA_OEMBOOT
endmenu
