Source: u-boot-spacemit
Section: admin
Priority: optional
Maintainer: 李伟智  <weizhi.li@spacemit.com>
Build-Depends: bc,
 bison,
 debhelper-compat (= 13),
 flex,
 libpython3-dev:native [linux-any],
 libssl-dev,
 python3:any [linux-any],
 python3-pyelftools [linux-any],
 python3-setuptools [linux-any],
 swig [linux-any],
 device-tree-compiler,
 hart-payload-generator [riscv64],
 libgnutls28-dev,
 libncurses-dev,
 libncurses-dev:native,
 libssl-dev:native,
 opensbi (>= 1.0-2~) [riscv64],
 uuid-dev,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://www.denx.de/wiki/U-Boot/
Vcs-Browser: https://salsa.debian.org/debian/u-boot
Vcs-Git: https://salsa.debian.org/debian/u-boot.git

Package: u-boot-spacemit
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Built-Using: ${u-boot-spacemit:Built-Using}
Description: A boot loader for SpacemiT systems
 Das U-Boot is a cross-platform bootloader for embedded systems,
 used as the default boot loader by several board vendors.  It is
 intended to be easy to port and to debug, and runs on many
 supported architectures, including PPC, ARM, MIPS, x86, m68k,
 NIOS, and Microblaze.
