/* SPDX-License-Identifier: GPL-2.0+ */
/*
 * Copyright (C) 2019 Synaptics Incorporated
 *
 * Author: Shaojun Feng <Shaojun.Feng@synaptics.com>
 *
 */

/dts-v1/;

#include "vs680.dtsi"

/ {
	model = "Synaptics VS680";
	compatible = "Synaptics,vs680", "Synaptics,asserial";

	memory {
		device_type = "memory";
		reg = <0 0 0 0x20000000>;
	};

	chosen {
                stdout-path = &smuart0;
        };

	fixclk100m: fixclk100m {
                compatible = "fixed-clock";
                #clock-cells = <0>;
                clock-frequency = <1000000>;
        };

};

&sysmgr_pinctrl {
	gmac0_pmux: gmac0-pmux {
		groups = "SM_SPI2_SS1n";
		function = "gpio";
	};
};

&pinctrl {
	emmc_pmux: emmc-pmux {
		groups = "NAND_IO0", "NAND_IO1", "NAND_IO2", "NAND_IO3", "NAND_IO4", "NAND_IO5", "ND_IO6", "NAND_IO7", "NAND_ALE", "NAND_CLE", "NAND_WPn";
		function = "emmc";
	};

};

&CPU_SLEEP_0 {
	status = "disabled";
};

&smuart0 {
	status = "okay";
};

&spi0 {
	status = "okay";
	max-write-size = <128>;
	clock-frequency = <100000000>;
	clocks = <&fixclk100m>;
	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		memory-map = <0x0 0xf0000000 0x0 0x4000000>;
		spi-max-frequency = <10000000>;
        };
};

&phy0 {
	reg = <0>;
};

&gmac0 {
	status = "okay";
	max-speed = <100>;
	pinctrl-names = "default";
	clocks = <&fixclk100m>;
	pinctrl-0 = <&gmac0_pmux>;
	phy-handle = <&phy0>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 0>;
};

&sdhci2 {
/*
	pinctrl-0 = <&emmc_pmux>;
	pinctrl-names = "default";
*/
	status = "okay";
};
