/* SPDX-License-Identifier: GPL-2.0+ */
/*
 * Copyright (C) 2019 Synaptics Incorporated
 *
 * Author: Shaojun Feng <Shaojun.Feng@synaptics.com>
 *
 */

/dts-v1/;

#include "vs680.dtsi"
#include "include/dt-bindings/gpio/gpio.h"
#include "berlin-fastboot-gui.dtsi"

/ {
	model = "Synaptics VS680 FASTBOOT LGU+";
	compatible = "Synaptics,vs680", "Synaptics,asserial";
	fastboot,product-name = "vs680";

	memory {
		device_type = "memory";
		reg = <0 0x04100000 0 0x6f700000>;
	};

	fts {
		compatible = "google,flash-ts-mmc";
	};

	chosen {
                stdout-path = &smuart0;
        };
};

&sysmgr_pinctrl {
	ge_phy_rst_pmux: ge_phy_rst_pmux {
		groups = "SM_TDO";
		function = "gpio";
	};
};

&pinctrl {
        emmc_pmux: emmc-pmux {
                groups = "NAND_IO0", "NAND_IO1", "NAND_IO2", "NAND_IO3", "NAND_IO4", "NAND_IO5", "ND_IO6", "NAND_IO7", "NAND_ALE", "NAND_CLE", "NAND_WPn";
                function = "emmc";
        };
};

&CPU_SLEEP_0 {
	status = "disabled";
};

&smuart0 {
	status = "okay";
};

&spi0 {
	status = "okay";
	max-write-size = <128>;
	clock-frequency = <100000000>;
	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		memory-map = <0x0 0xf0000000 0x0 0x4000000>;
		spi-max-frequency = <10000000>;
        };
};

&phy0 {
	reg = <0>;
};

&gmac0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&ge_phy_rst_pmux>;
	max-speed = <1000>;
	phy-mode = "rgmii-id";
	phy-handle = <&phy0>;
	phy = <&phy0>;
	snps,reset-gpio = <&portd 8 GPIO_ACTIVE_HIGH>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 50000 50000>;
};

&sdhci2 {
	status = "okay";
	max-frequency = <50000000>;
	cap-mmc-highspeed;
	1_8v-signalling;
};
