/* SPDX-License-Identifier: GPL-2.0+ */
/*
 * Copyright (C) 2019 Synaptics Incorporated
 *
 * Author: Cheng Lu <Cheng.Lu@synaptics.com>
 *
 */

/dts-v1/;

#include "vs680.dtsi"
#include "include/dt-bindings/gpio/gpio.h"

/ {
	model = "Synaptics VS680 PEK";
	compatible = "Synaptics,vs680", "Synaptics,asserial";

	memory {
		device_type = "memory";
		reg = <0 0 0 0x80000000>;
	};

	fts {
		compatible = "google,flash-ts-mmc";
	};

	chosen {
                stdout-path = &smuart0;
        };

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		usb0_vbus: regulator@0 {
			compatible = "regulator-fixed";
			regulator-name = "usb0_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&portb 23 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		xhci0_vbus: xhci0_vbus {
			compatible = "regulator-fixed";
			regulator-name = "xhci0_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&expander0 3 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};
	};
};

&pinctrl {
	usb_vbus_pmux: usb_vbus_pmux {
		groups = "USB2_DRV_VBUS";
		function = "gpio";
	};

	i2c_tw0_pmux: i2c_tw0_pmux {
		groups = "TW0_SCL", "TW0_SDA";
		function = "tw0";
	};
};

&CPU_SLEEP_0 {
	status = "disabled";
};

&smuart0 {
	status = "okay";
};

&spi0 {
	status = "okay";
	max-write-size = <128>;
	clock-frequency = <100000000>;
	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		memory-map = <0x0 0xf0000000 0x0 0x4000000>;
		spi-max-frequency = <10000000>;
        };
};

&phy0 {
	reg = <0>;
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c_tw0_pmux>;

	expander0: gpio@70 {
		compatible = "nxp,pca9538";
		reg = <0x70>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&gmac0 {
	max-speed = <1000>;
	phy-mode = "rgmii-id";
	phy-handle = <&phy0>;
	phy = <&phy0>;
};

&sdhci2 {
	status = "okay";
	max-frequency = <50000000>;
	cap-mmc-highspeed;
	1_8v-signalling;
};

&usb_phy0 {
	status = "okay";
};

&usb0 {
	vbus-supply = <&usb0_vbus>;
	status = "okay";
};

&usb_phy1 {
	status = "okay";
};

&xhci0 {
	vbus-supply = <&xhci0_vbus>;
	status = "okay";
};
