if TARGET_RZV2N_DEV

config SYS_SOC
	default "rmobile"

config SYS_BOARD
	default "rzv2n-dev"

config SYS_VENDOR
	default "renesas"

config SYS_CONFIG_NAME
	default "rzv2n-dev"

endif

if TARGET_RZV2N_EVK

config SYS_SOC
	default "rmobile"

config SYS_BOARD
	default "rzv2n-dev"

config SYS_VENDOR
	default "renesas"

config SYS_CONFIG_NAME
	default "rzv2n-evk"

endif

